<nav class="navbar navbar-expand-lg bg-primary navbar-dark navbar-shadow">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">SMC | LMS</a>

        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="navbar-item nav-item me-3 me-lg-0">
                <a class="navbar-group nav-link text-white" href="/dashboard">
                    <i class="navbar-icon fas fa-home mx-1"></i>
                    <span class="navbar-label">Home</span>
                </a>
            </li>
            <li class="navbar-item nav-item me-3 me-lg-0">
                <a class="navbar-group nav-link text-white" href="/todos">
                    <i class="navbar-icon fas fa-list-check mx-1"></i>
                    <span class="navbar-label">To-Dos</span>
                </a>
            </li>
            <li class="navbar-item nav-item me-3 me-lg-0">
                <a class="navbar-group nav-link text-white" href="/profile">
                    <i class="navbar-icon fas fa-user mx-1"></i>
                    <span class="navbar-label">Profile</span>
                </a>
            </li>
        </ul>

    </div>
</nav>